<% provide(:title, "Home") %>
<h1 class="title is-1">Riepilogo personale</h1>
<h3 class="subtitle is-3">In primo piano</h3>

<section class = "hero is-medium is-link">
    <div class = "hero-body">
        <h2 class="title" id = "h2_card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates itaque incidunt quidem nemo nisi inventore.</h2>
         <p class = "subtitle" id = "p_card">Lorem ipsum dolor sit amet.</p>
    </div>
</section>

<p class="title is-2" id="titolo_home_2">
    Rafforza e consolida
  </p>
  
  <section class="columns">
    <div class="card" id = "card1_home">
      <div class="card-content">
        <div class="content">
          <p class="title is-4">Studio1</p>
        </div>
      </div>
    </div>
    
    <div class="card" id = "card2_home">
      <div class="card-content">
        <div class="content">
          <p class="title is-4">Studio2</p>
        </div>
      </div>
    </div>
  
    <div class="card" id = "card3_home">
      <div class="card-content">
        <div class="content">
          <p class="title is-4">Studio3</p>
        </div>
      </div>
    </div>
  
    <div class="card" id = "card4_home">
      <div class="card-content">
        <div class="content">
          <p class="title is-4">Studio4</p>
        </div>
      </div>
    </div>
  </section>

