<h1 class="title is-1">Riepilogo personale</h1>

<section class = "hero is-medium is-link" id = >
    <div class = "hero-body">
        <h2 class="title" id = "h2_card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates itaque incidunt quidem nemo nisi inventore.</h2>
         <p class = "subtitle" id = "p_card">Lorem ipsum dolor sit amet.</p>
    </div>
</section>